
html,body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto';  
}
header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

/* navbar */
#navbar img {
    width: 150px;
    height: 60px;
}
  
#navbar {
    /*justify-content: space-between;
    background-color: #FFF;
    padding: 5px 0;
    */
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0px 0px 0px;
    justify-content: space-between
}
  
#navbar a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: #181616;
    padding: 14px 16px;
}
  
#navbar a:hover {
    color: #F2A340;
}



h2 {
    color: #333333;
    font-size: 22px;
}

input,select,textarea,button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #333;
}

.texto-branco {
    color: #ffffff;
}

.borda-branca {
    border: solid 1px #fff;
}

.borda-preta {
    border: solid 1px #333;
}

button {
    background-color: #072f42;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: #6ea22c;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333333;
}

::-ms-input-placeholder {
    color: #333333;
}

.menu {
    float: right;
    margin-right: 40px;
}

.menu li {
    display: inline;
    float: left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    padding: 14px 16px;
    color: #333;
}

.menu a:hover {
    color: #ffffff;
}

.conteudo-destaque {
    width: 100%;
    height: 100%;
    min-height: 800px;
}

.esquerda {
    float: left;
    background-color: #ffffff;
    width: 60%;
    height: 100%;
}

.direita {
    float: right;
    background-color: #ffffff;
    width: 40%;
    height: 100%;
}

.informacoes,
.contato {
    margin: 100px 40px 40px 40px;
}

.contato-principal {
    margin: 0px 60px 60px 40px;
}

.chamada {
    margin-top: 30px;
    margin-left: 20px;
}


.container_form {
    width: 1150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    border-radius:150px; 
    padding:1em;
}
.container_form h1 {
    
    font-family:'Roboto';
    font-size: 2.3em;
    color: #0f0a0a;
    border-bottom: 1px #312b2b solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.form_grupo {
    width: 90%;
    margin:  auto;
    margin-bottom: 1000px;
    border-radius: 1px #000000 solid;
    position: relative;
    
 
}
.form_grupo .legenda { 
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 1px #000000 solid;
}
/* SUBMIT */
.submit { width:100%; float:left; }
.submit_btn {
    float: left;
    display: block;
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    font-family: inherit;
    font-size: 25px;
    font-family:'open_sansregular';
    border-radius: 6px;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.3s;
}
.submit_btn:hover {
    background-color: #444444;
    transform: scale(1.03);
}
.dropdown {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    font-family: inherit;
    color: #222222;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    padding-left: 10px;
    width: 100%;
}
.form_new_input {
    display: none;
}
.radio_label,
.check_label {
    float: left;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 8px;
}
.radio_new_btn {
    position: absolute;
    left: 0;
    transform: translateY(3px);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 0.2em solid #4c4c4c;
}
.radio_new_btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffffff;
    visibility: hidden;
}
.check_new_btn {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 0.2em solid #4c4c4c;
}
.check_new_btn::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    visibility: hidden;
}
.form_new_input:checked ~ .radio_label .radio_new_btn::after,
.form_new_input:checked ~ .check_label .check_new_btn::after {
 
    visibility: visible;
}
.form_new_input:checked ~ .radio_label,
.form_new_input:checked ~ .check_label {
    color: #ffffff;
}
.form_grupo {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.form_input {
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px rgb(158, 156, 156) solid;
    background: #ffffff;
    outline: none;
    width: 100%;
    transition: all 0.3s;
}
.form_message,
.form_message .message_input {
    width: 100%;
    float:left;
}
.form_message_label {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    
}
/* footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin-bottom: 0;
  }